.home-header-container {

    height             : 90px;
    width              : 100%;
    // position        : fixed;
    background-color   : #081B1F;

    .home-header-content {

        height     : 100%;
        width      : 100%;
        display    : flex;
        align-items: center;




        .container {
            height: 100%;

        }

        .row {
            display    : flex;
            align-items: center;
            height     : 100%;
            color      : white;

            .col-3,
            .col-6 {
                height: 100%;
            }
        }
    }

    .content-left {
        height     : 100%;
        display    : flex;
        align-items: center;

        .site-logo {
            cursor: pointer;

            img {
                max-width: 150px;
                height: auto;
                object-fit: contain;
            }
        }
    }

    .content-middle {
        height         : 100%;
        display        : flex;
        flex-direction : column;
        justify-content: center;
        gap            : -11px;
        gap            : 5px;

        .section-search-container {
            height        : 35px;
            display       : flex;
            flex-direction: row;
            align-items   : center;
            position      : relative;

            .section-search {
                margin       : 0;
                height       : 100%;
                border-radius: 40px;
                outline      : none;
                border       : none;
                font-size    : 13px;
            }

            .search-icon {
                color      : #ddd;
                position   : absolute;
                right      : 6px;
                font-size  : 14px;
                /* height  : 100%; */
                padding    : 10px;
                font-weight: 600;
                cursor     : pointer;

            }
        }

        .header-menu-content {
            display           : flex;
            align-items       : center;
            // border         : 1px solid red;
            height            : 22px;
            justify-content   : center;
            padding-top       : 10px;
            z-index           : 1000;

            .list-action {
                display       : flex;
                flex-direction: row;
                grid-gap      : 50px;
                gap           : 50px;
                font-size     : 13px;
                font-weight   : 650;
                height        : 100%;
                align-items   : center;

                .menu-icon {
                    cursor: pointer;
                }

                .list-about-container {
                    position: relative;
                    display : flex;
                    cursor  : pointer;

                    &:hover .list-about {
                        visibility: visible;
                        opacity   : 1;
                    }

                    .text-selection {}

                    .list-about {
                        width           : 250px;
                        position        : absolute;
                        top             : 33px;
                        left            : -10px;
                        z-index         : 1000;
                        display         : flex;
                        justify-content : center;
                        align-items     : center;
                        font-weight     : 400;
                        border          : 1px solid #ddd;
                        background-color: white;
                        visibility      : hidden;
                        opacity         : 0;
                        transition      : opacity 0.3s ease, visibility 0.1s ease;



                        .list-about-content {
                            cursor: pointer;

                            display       : flex;
                            flex-direction: column;
                            width         : 100%;
                            height        : 100%;



                            .item-about {
                                color        : black;
                                border-bottom: 1px solid #ddd;
                                padding      : 6px 35px;

                                &:hover {
                                    background-color: #eeeeee;
                                }

                            }
                        }
                    }

                    &::after {
                        position   : absolute;
                        content    : '';
                        width      : 70px;
                        height     : 20px;
                        z-index    : 100000;
                        top        : 20px;
                        left       : -6px;
                        // border  : 1px solid red;
                    }


                }



                .list-action-container {
                    position: relative;
                    cursor  : pointer;

                    &:hover .list-action-shop {
                        visibility: visible;
                        opacity   : 1;
                    }

                    .list-action-shop {
                        position        : absolute;
                        display         : flex;
                        flex-direction  : column;
                        z-index         : 1000;
                        width           : 250px;
                        top             : 33px;
                        left            : -10px;
                        font-weight     : 400;
                        border          : 1px solid #ddd;
                        background-color: white;
                        opacity         : 0;
                        visibility      : hidden;
                        transition      : opacity 0.3s ease, visibility 0.1s ease;

                        .item-action {
                            padding      : 6px 34px;
                            border-bottom: 1px solid #ddd;
                            color        : black;

                            &:hover {
                                background-color: #eeeeee;
                            }

                        }
                    }

                    &::after {
                        position: absolute;
                        content : '';
                        width   : 70px;
                        height  : 20px;
                        top     : 20px;
                        left    : -8px;
                    }

                }



            }
        }

    }

    .content-right {
        display          : flex;
        /* flex-direction: row; */
        justify-content  : space-evenly;
        height           : 100%;

        .list-user-selection {
            display        : flex;
            width          : 100%;
            justify-content: space-evenly;
            align-items    : center;
            font-size      : 20px;
            font-weight    : 600;

            .header-search-wrap {
                cursor: pointer;

                .search-icon {}
            }

            .user-menu {
                position: relative;
                cursor  : pointer;
                z-index : 100000;
                display: flex;
                align-items: center;

                i {
                    font-size: 18px;
                }

                .user-info-display {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    cursor: pointer;

                    .user-name {
                        font-size: 14px;
                        font-weight: 500;
                        color: #333;
                        max-width: 120px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                }

                &:hover .user-selection {
                    visibility: visible;
                    opacity   : 1;
                }

                .user-selection {
                    position              : absolute;
                    width                 : 150px;
                    top                   : 40px;
                    left                  : -10px;
                    font-weight           : 400;
                    border                : 1px solid #ddd;
                    background-color      : white;
                    visibility            : hidden;
                    opacity               : 0;
                    transition            : opacity 0.3s ease, visibility 0.1s ease;
                    box-shadow            : 0 2px 8px rgba(0, 0, 0, 0.1);

                    .item-selection {
                        border-bottom: 1px solid #ddd;
                        padding      : 5px 10px;
                        color        : black;
                        cursor       : pointer;

                        &:hover {
                            background-color: #eeeeee;
                        }

                        &:last-child {
                            border-bottom: none;
                        }
                    }
                }

                &::after {
                    position: absolute;
                    content : '';
                    width   : 70px;
                    height  : 20px;
                    top     : 20px;
                    left    : -21px;
                    pointer-events: none; // Cho phép click xuyên qua pseudo-element
                }
            }

            .mini-cart-icon {
                cursor: pointer;
                position: relative;
                sup {
                    width: 15px;
                    height: 15px;
                    position: absolute;
                    background-color: #ffffff;
                    color: #081B1F;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 12px;
                    font-weight: 600;
                    left: 20px;
                    // top: 10px;
                    // right: 10px;
                }
            }

        }



    }
}