.special-product-container {
    padding: 100px 0 0;
    width: 100%;

    .container {
        width: 100%;
        max-width: 100%;
        margin: 0;
        padding: 0; // Không cần padding vì đã có từ homepage-content-wrapper
    }
}

.special-product-top {
    text-align : center;
    font-size  : 40px;
    font-weight: 670;
    display    : flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    position   : relative;
    width      : 100%;

    span {
        flex: 1;
        text-align: center;
    }

    .see-more {
        display        : flex;
        justify-content: flex-end;
        flex-shrink    : 0; // Không cho phép co lại

        .btn-see-more {
            font-size       : 17px;
            border-radius   : 20 px;
            padding         : 7px 23px;
            background-color: #80B500;
            color           : white;
            display         : flex;
            align-items     : center;

            .fa-long-arrow-alt-right {
                font-size  : 15px;
                font-weight: 600;
                margin-left: 8px;
            }


        }
    }
}

.special-product-bottom {
    min-height     : 420px; // Thay đổi từ height cố định sang min-height
    display        : flex;
    justify-content: center;
    align-items    : center;
    width          : 100%;

    .special-product-content {
        width: 100%;
        max-width: 100%;
        margin: 0 auto; // Center nội dung

        .slick-slider {
            width: 100%;
            margin: 0 auto; // Căn giữa slider

            .slick-list {
                width: 100%;
                margin: 0 auto; // Căn giữa list

                .slick-track {
                    display: flex;
                    align-items: stretch; // Đảm bảo các slide có cùng chiều cao
                    margin: 0 auto; // Căn giữa track
                }

                .slick-slide {
                    display: flex;
                    align-items: center; // Căn giữa slide theo chiều dọc
                }

                .img-customize {
                    height: auto; // Thay đổi từ 100% sang auto để cho phép nội dung tự mở rộng
                    display: flex;
                    flex-direction: column;
                    justify-content: center; // Căn giữa nội dung theo chiều dọc
                    align-items: center; // Căn giữa nội dung theo chiều ngang (thay vì align-content)
                    padding: 0 10px; // Thêm padding để tạo khoảng cách
                    width: 100%;
                    
                    .product-item {
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        margin: 0 auto; // Căn giữa product-item
                        width: 100%;
                        max-width: 100%;
                    }
                }
            }
        }

    }

}

.slick-prev {
    left            : -19px !important;
    z-index         : 1000 !important;
    height          : 48px !important;
    width           : 44px !important;
    background-color: #FFFFFF !important;
    border          : 2px solid #d7d7d7 !important;
}

.slick-next {
    right           : -19px !important;
    z-index         : 1000 !important;
    height          : 48px !important;
    width           : 44px !important;
    background-color: #FFFFFF !important;
    border          : 2px solid #d7d7d7 !important;
}

.slick-prev:hover,
.slick-next:hover {
    background-color: #ececec !important;
    background-color: #ececec !important;
}

.slick-prev::before,
.slick-next::before {

    font-family: Montserrat, sans-serif !important;
    color      : #80B500 !important;
}