.home-product-container {
    height: 100vh;
    width : 100%;

    .home-header {
        position: fixed;
        top     : 0;
        width   : 100%;
        height  : 90px; // chiều cao mà bạn muốn
    }

    .home-body {
        max-width     : 95vw;
        margin        : auto;
        display       : flex;
        flex-direction: row;
        height        : calc(100vh - 90px); // Chiều cao của home-body trừ đi chiều cao của header để vừa khớp toàn màn hình

        .content-left {
            width                   : 20%;
            height                  : 100%;
            // overflow-y           : auto;
            // overflow-y     : hidden;
            zoom                    : 0.9;

            .category-menu {

                margin: 13px;
                height: auto;

            }
        }

        .content-right {
            width            : 80%;
            height           : 100%;
            // overflow-y    : auto;

            .list-product-container {
                flex-wrap: wrap;
                display       : flex;
                flex-direction: row;
                align-items: stretch; // Đảm bảo các card có cùng chiều cao
                zoom          : 0.88;
                margin-left   : 20px;

                // Đảm bảo các product-item có cùng chiều cao
                > * {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    max-width: 242px;
                }
            }

            .home-footer {
                margin: -76px 34px 0px 25px;
                zoom  : 0.85;
            }
        }
    }
}